.todobar__status {
    display: flex;
    column-gap: 18px;
}

button {
    font-size: 14px;
    font-weight: 700;
    color: #9495A5;

    &:hover {
        color: #494C6B;
        transition: all 0.2s ease-in;
    }
}

.btn-active {
    color: #3A7CFD;
}